.container {
  display: flex;
  padding: 0px 96px;
}

.main {
  grid-column: 2;
  padding: 5rem 0;
  flex: 1;
  display: grid;
  /* grid-template-columns: repeat(4, 25fr); */
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 32px;
}

.main div {
  max-height: 400px;
  overflow-y: scroll;
  padding: 0.05px;
  scrollbar-width: thin;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 16px;
}

.main div ul {
  list-style: none;
  padding-left: 0px;
}

.main div ul li {
  margin: 8px;
  padding: 8px;
  background-color: #2A2A2A;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main div ul a, .main div ul p {
  margin: 0px;
}